/* .carousel-item::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,0.8) ;
}  */

.myc{
    font-size: 65px;
    font-weight: 900;
    font-family: Adobe Garamond Pro Bold;
    margin-top: -450px;
}
.myc2{
    font-size: 20px;
    font-weight: 900;
    font-family: Ancillary;
    margin-top: 5px;
    color: yellow;
}